<p id="notice"><%= notice %></p>

<h1>Listing County Awards</h1>

<table>
  <thead>
    <tr>
      <th>County</th>
      <th>Award</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @county_awards.each do |county_award| %>
      <tr>
        <td><%= county_award.county %></td>
        <td><%= county_award.award %></td>
        <td><%= link_to 'Show', county_award %></td>
        <td><%= link_to 'Edit', edit_county_award_path(county_award) %></td>
        <td><%= link_to 'Destroy', county_award, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New County award', new_county_award_path %>
