<!DOCTYPE html>
<html>
<head>
  <title>Acterra</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <script src="http://code.highcharts.com/maps/highmaps.js"></script>
  <script src="https://code.highcharts.com/mapdata/countries/us/us-ca-all.js"></script>
  <script src="https://d3js.org/d3.v4.js"></script>
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400" rel="stylesheet">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.0/angular-animate.min.js"></script>
  <%= csrf_meta_tags %>

</head>
<body>

	<%= render "layouts/header"%>

	<%= render "layouts/main"%>


</body>
</html>
